#pagination {
    @include flex();
    margin-top: 48px;
    .current,
    a {
        width: 48px;
        height: 48px;
        @include flex($align: center, $justify: center);
        border: solid 4px $color3;
        border-radius: 10px;
        color: $color3;
        margin-right: 24px;
        transition: 0.3s;
        @include sm {
            margin-right: 8px;
            width: 40px;
            height: 40px;
        }
        &:hover {
            background-color: $color3;
            color: $color1;
            .color-reverse {
                fill: $color1;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
    .current {
        background-color: $color3;
        color: $color1;
    }
}